{% extends "base.html" %}

{% load static %}

{% block content %}



<img src="{% static '/img/atencion.jpg' %}"  width="700" height="400" style="display:block;
margin:auto;"  class="intro-img img-fluid mb-3 mb-lg-0 rounded">


<h1 style="color: white; font-size: 50px;">Podés comunicarte con nosotros de la siguiente manera:</h1>
<label style="color: white; font-size: 20px;">Teléfono: 341- 4245678</label><br>
<label style="color: white; font-size: 20px;">Whatsapp: 341- 1234567 </label><br>
<label style="color: white; font-size: 20px;">Email: libreriaDonQuijote@gmail.com</label>

{% endblock %}