{% extends "base.html" %}

{% load static %}

{% block content %}
<img src="{% static '/img/libreria.jpg' %}"  width="700" height="400" style="display:block;
margin:auto;" >

<h1 style="margin-left: 15px; color: white; display:block;
margin:auto;" > Vení a visitarnos</h1><br>

<h5 style="color: white; display:block;
margin:auto;">Don Quijote es una empresa dedicada a la venta de libros. Abrimos en el año 1967 y
    desde el primer momento tuvimos claro que en la ciudad había espacio para una
    librería de fondo, clásica y moderna a la vez; un lugar en el que el lector pudiese
    buscar y, sobre todo, encontrar esos libros que deben estar en las estanterías.
    No sólo vendemos libros, también somos un lugar en el que no sólo
    se va a encontrar el libro que buscás, sino también descubrir nuevos títulos de
    interés, en un entorno distinto, cálido y cultural.</h5><br>

<h5 style="color: white; margin-left: 15px; padding-left: 5%;">Nos encotramos en Brown 2750 Rosario, Santa Fe, Argentina</h5>


{% endblock %}