{% extends "base.html" %}

{% load static %}

{% block content %}

<img src="{% static '/img/formadePago.jpg' %}"  width="700" height="400" style="margin-left: 20%;" >

<h1 style="color: white; margin-left: 15px;"> Formas de pago</h1><br>

 
<h3 style="color: white; margin-left: 15px;">Depósito o transferencia en nuestra cuenta bancaria</h3>
<h5 style="color: white; margin-left: 15px;">Para el depósito o transferencia bancaria a nuestra cuenta le brindaremos el número de la misma o CBU respectivamente una vez realizada la compra.</h5> <br>

<h3 style="color: white; margin-left: 15px;">Tarjeta de crédito</h3>
<h5 style="margin-left: 15px; color: white;">Pago seguro online por PayU para compras con tarjetas internacionales y MercadoPago para compras con tarjetas locales.
Aceptamos las siguientes tarjetas de crédito:</h5>
<ul style="color: white; margin-left: 15px;">
    <li>Visa</li>
    <li>Mastercard</li>
    <li>American Express</li>
    <li>Cabal</li>
    <li>Tarjeta Shopping</li>
    <li>Tarjeta Naranja</li>
</ul>

<h3 style="color: rgb(136, 172, 238); margin-left: 15px;" > Pago Fácil | Rapipago | Cobro Express | Bapro Pagos por MercadoPago</h3>
<h5 style="color: white; margin-left: 15px;">Usted podrá abonar el importe de su compra con un cupón de pago que le enviaremos por e-mail en cualquiera de las sucursales de Pago Fácil, Rapipago, Cobro Express y Bapro Pagos.
Para compras internacionales las opciones de pago son:</h5>




{% endblock %}