<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <p>Estas buscando {{query}}</p>
    {% if productos %}
        <p>Libros encontrados: {{productos|length}} productos</p>
        <ul>
            {% for producto in productos %}
            <li>
                {{producto.nombre}} &nbsp; {{producto.autor}}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No está ese libro</p>
    {% endif %}
</body>
</html>